<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ATSApplicationFontsPath</key>
	<string>Fonts</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>nfo</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>AFileTypeNFO.icns</string>
			<key>CFBundleTypeName</key>
			<string>ASCII Release Information (.nfo)</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.byteproject.ascension.nfo</string>
			</array>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSDocumentClass</key>
			<string>MyDocument</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>diz</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>AFileTypeDIZ.icns</string>
			<key>CFBundleTypeName</key>
			<string>Description in Zipfile (.diz)</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.byteproject.ascension.diz</string>
			</array>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSDocumentClass</key>
			<string>MyDocument</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>asc</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>AFileTypeASC</string>
			<key>CFBundleTypeName</key>
			<string>ASCII Artwork (.asc)</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.byteproject.ascension.asc</string>
			</array>
			<key>NSDocumentClass</key>
			<string>MyDocument</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>ans</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>AFileTypeANS</string>
			<key>CFBundleTypeName</key>
			<string>ANSi Artwork (.ans)</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.byteproject.ascension.ans</string>
			</array>
			<key>NSDocumentClass</key>
			<string>MyDocument</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>idf</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>AFileTypeIDF</string>
			<key>CFBundleTypeName</key>
			<string>iCE Draw File (.idf)</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.byteproject.ascension.idf</string>
			</array>
			<key>NSDocumentClass</key>
			<string>MyDocument</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>pcb</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>AFileTypePCB</string>
			<key>CFBundleTypeName</key>
			<string>PCBoard BBS File (.pcb)</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.byteproject.ascension.pcb</string>
			</array>
			<key>NSDocumentClass</key>
			<string>MyDocument</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>xb</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>AFileTypeXB</string>
			<key>CFBundleTypeName</key>
			<string>eXtended Binary (.xb)</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.byteproject.ascension.xb</string>
			</array>
			<key>NSDocumentClass</key>
			<string>MyDocument</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>adf</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>AFileTypeADF</string>
			<key>CFBundleTypeName</key>
			<string>ArtWorx Data File (.adf)</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.byteproject.ascension.adf</string>
			</array>
			<key>NSDocumentClass</key>
			<string>MyDocument</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>bin</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>AFileTypeBIN</string>
			<key>CFBundleTypeName</key>
			<string>Binary ANSi Artwork (.bin)</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.byteproject.ascension.bin</string>
			</array>
			<key>NSDocumentClass</key>
			<string>MyDocument</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>tdf</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>AFileTypeTND</string>
			<key>CFBundleTypeName</key>
			<string>Tundra Draw File (.tnd)</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.byteproject.ascension.tnd</string>
			</array>
			<key>NSDocumentClass</key>
			<string>MyDocument</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>txt</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>Plain Text (.txt)</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>public.plain-text</string>
			</array>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSDocumentClass</key>
			<string>MyDocument</string>
		</dict>
	</array>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleIconFile</key>
	<string>Ascension.icns</string>
	<key>CFBundleIdentifier</key>
	<string>com.byteproject.${PRODUCT_NAME:rfc1034identifier}</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>2.0.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>77</string>
	<key>LSApplicationCategoryType</key>
	<string>public.app-category.developer-tools</string>
	<key>LSMinimumSystemVersion</key>
	<string>${MACOSX_DEPLOYMENT_TARGET}</string>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright © 2010-2011 Stefan Vogt.
All rights reserved.</string>
	<key>NSMainNibFile</key>
	<string>MainMenu</string>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
	<key>UTExportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>ASCII Release Information (.nfo)</string>
			<key>UTTypeIconFile</key>
			<string>AFileTypeNFO.icns</string>
			<key>UTTypeIdentifier</key>
			<string>com.byteproject.ascension.nfo</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>nfo</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Description in Zipfile (.diz)</string>
			<key>UTTypeIconFile</key>
			<string>AFileTypeDIZ.icns</string>
			<key>UTTypeIdentifier</key>
			<string>com.byteproject.ascension.diz</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>diz</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>ASCII Artwork (.asc)</string>
			<key>UTTypeIconFile</key>
			<string>AFileTypeASC</string>
			<key>UTTypeIdentifier</key>
			<string>com.byteproject.ascension.asc</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>asc</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>ANSi Artwork (.ans)</string>
			<key>UTTypeIconFile</key>
			<string>AFileTypeANS</string>
			<key>UTTypeIdentifier</key>
			<string>com.byteproject.ascension.ans</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>ans</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>iCE Draw File (.idf)</string>
			<key>UTTypeIconFile</key>
			<string>AFileTypeIDF</string>
			<key>UTTypeIdentifier</key>
			<string>com.byteproject.ascension.idf</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>idf</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>PCBoard BBS File (.pcb)</string>
			<key>UTTypeIconFile</key>
			<string>AFileTypePCB</string>
			<key>UTTypeIdentifier</key>
			<string>com.byteproject.ascension.pcb</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>pcb</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>eXtended Binary (.xb)</string>
			<key>UTTypeIconFile</key>
			<string>AFileTypeXB</string>
			<key>UTTypeIdentifier</key>
			<string>com.byteproject.ascension.xb</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>xb</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>ArtWorx Data File (.adf)</string>
			<key>UTTypeIconFile</key>
			<string>AFileTypeADF</string>
			<key>UTTypeIdentifier</key>
			<string>com.byteproject.ascension.adf</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>adf</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Binary ANSi Artwork (.bin)</string>
			<key>UTTypeIconFile</key>
			<string>AFileTypeBIN</string>
			<key>UTTypeIdentifier</key>
			<string>com.byteproject.ascension.bin</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>bin</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Tundra Draw File (.tnd)</string>
			<key>UTTypeIconFile</key>
			<string>AFileTypeTND</string>
			<key>UTTypeIdentifier</key>
			<string>com.byteproject.ascension.tnd</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>tnd</string>
				</array>
			</dict>
		</dict>
	</array>
</dict>
</plist>
